[submodule "contrib/deterministic-build/electrum-bsty-locale"]
	path = contrib/deterministic-build/electrum-bsty-locale
	url = https://github.com/spesmilo/electrum-locale
[submodule "electrum/www"]
	path = electrum_bsty/plugins/payserver/www
	url = https://github.com/spesmilo/electrum-http.git
